# Node
**/node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Puppeteer / Chromium baixado localmente
**/.local-chromium/
**/puppeteer/
**/puppeteer-core/.local-chromium/

# Ambiente / temporários
.env
.DS_Store
*.log
